@import '../../variables.scss';

.sliderContainer {
  margin-top: 56px;
  padding: 0 80px;
  position: relative;

  @media (max-width: 1100px) {
    margin-top: 20px;
    padding: 0 20px;
  }
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $color-light;
  box-shadow: 0 0 10px $color-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border: none;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-right: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    transform: rotate(45deg);
    display: inline-block;
  }
}

.prev {
  left: 20px;

  &::before {
    transform: rotate(135deg);
  }
}

.next {
  right: 20px;

  &::before {
    transform: rotate(-45deg);
  }
}

.date {
  color: $color-primary;
  font-family: $font-debas;
  font-size: 25px;
  line-height: 1.2;
  margin: 0;

  @media (max-width: 1100px) {
    font-size: 14px;
  }
}

.description {
  padding-top: 15px;
  font-size: 20px;
  color: $color-dark;
  line-height: 30px;
  margin: 0;

  @media (max-width: 1100px) {
    font-size: 14px;
    line-height: 1.45;
  }
}

.mobileControls {
  margin-top: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  gap: 10px;
  width: fit-content !important;
}

.bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $color-dark;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.bulletActive {
  opacity: 1;
}
