// Цвета
$color-primary: #3877EE;
$color-secondary: #EF5DA8;
$color-accent: #F178B6;
$color-dark: #42567A;
$color-light: #FFFFFF;
$color-border: rgba(66, 86, 122, 0.2);
$color-shadow: rgba(56, 119, 238, 0.2);
$color-line: rgba(48, 62, 88, 0.5);
$color-line-light: #C7CDD9;

// Шрифты
$font-main: 'PT Sans', sans-serif;
$font-debas: 'Bebas Neue', sans-serif;